@import '../../styles/variables';

.meal {
	border: 1px solid $color_base_light;
	border-radius: $radius_base;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: $spacing_s;
	padding: $spacing_s $spacing_base;
	&__type {
		background-color: rgb(99, 158, 212);
		border-radius: $radius_s;
		color: $color_background;
		font-size: $font_size_xxxs;
		font-weight: $font_weight_bold;
		margin-right: $spacing_xs;
		padding: $spacing_xxxs $spacing_xxs;
		text-transform: uppercase;
	}
	&__time {
		color: $color_base_extramedium;
		font-size: $font_size_xxs;
	}
	&__title {
		font-size: $font_size_m;
		font-weight: $font_weight_mediumBold;
		margin-top: $spacing_xxs;
		width: 100%;
	}
	&__actions {
		* {
			cursor: pointer;
			margin-left: $spacing_xxs;
		}
	}
}