@import '../../styles/variables';

.button {
	background-color: $color_highlight;
	border-radius: $radius_s;
	color: $color_background_light;
	font-weight: $font_weight_bold;
	margin-top: $spacing_xs;
	padding: $spacing_s $spacing_b $spacing_s;
	text-align: center;
	transition: $transition_duration;
	width: 100%;
	&:hover {
		background-color: $color_highlight_dark;
	}
}
