@import '../../styles/variables';

.menu {
	background-color: $color_background_light;
	bottom: 0;
	display: flex;
	flex-direction: column;
	font-size: $font_size_m;
	left: 0;
	//padding: $spacing_b $spacing_s $spacing_s;
	position: fixed;
	right: 0;
	transform: translateX(100%);
	transition: 0.6s;
	top: 0;
	&--open {
		transform: translateX(0);
	}
	&__buttonOpen {
		line-height: 1;
		transition: $transition_duration;
		&:hover {
			transform: rotate(180deg);
		}
	}
	&__buttonClose {
		align-self: flex-end;
		margin: $spacing_b;
		padding: 0;
		transition: $transition_duration;
		&:hover {
			transform: rotate(90deg);
		}
	}
	&__item {
		border-top: 1px solid $color_background;
		font-size: $font_size_b;
		font-weight: $font_weight_mediumbold;
		padding: $spacing_xs $spacing_m;
		transition: $transition_duration;
		&:hover {
			background-color: $color_background;
		}
		&--sel {
			color: $color_highlight;
			font-weight: $font_weight_extrabold;
		}
	}
}
