@import '../../styles/variables';

.menu {
	background-color: $color_background_light;
	bottom: 0;
	display: flex;
	flex-direction: column;
	font-size: $font_size_m;
	left: 0;
	padding: $spacing_b $spacing_s $spacing_s;
	position: fixed;
	right: 0;
	text-align: center;
	transform: translateX(100%);
	transition: 0.6s;
	top: 0;
	&--open {
		transform: translateX(0);
	}
	&__buttonOpen {
		line-height: 1;
		transition: $transition_duration;
		&:hover {
			transform: rotate(180deg);
		}
	}
	&__buttonClose {
		align-self: flex-end;
		margin-bottom: $spacing_xs;
		padding: 0;
		transition: $transition_duration;
		&:hover {
			transform: rotate(90deg);
		}
	}
	&__item {
		background-color: $color_b_extralight;
		border-radius: $radius_b;
		font-size: $font_size_b;
		font-weight: $font_weight_mediumbold;
		margin-top: $spacing_xxs;
		padding: $spacing_s;
		transition: $transition_duration;
		&:hover {
			background-color: $color_highlight;
			color: $color_background_light;
			font-weight: $font_weight_bold;
		}
		&--sel {
			background: $color_highlight;
			color: $color_background_light;
		}
	}
}
