@import '../../styles/variables';

.fieldGroup {
	align-items: start;
	background-color: darken($color_background, 5%);
	border-radius: $radius_s;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: $spacing_xs;
	padding: $spacing_xs 0 $spacing_xs $spacing_xs;
	> * {
		margin-right: $spacing_xs;
		width: auto;
	}
}
