@import '../../styles/variables';

.itemCard {
	align-items: stretch;
	background-color: $color_background_light;
	border-radius: $radius_b;
	display: flex;
	justify-content: space-between;
	margin-top: $spacing_xxs;
	overflow-x: hidden;
	position: relative;
	&__content {
		padding: $spacing_s 0 $spacing_s $spacing_b;
	}
	// &--small &__content {
	// 	padding: $spacing_xxs $spacing_b $spacing_xs;
	// }
	&__category {
		color: $color_highlight;
		font-size: $font_size_xxs;
		font-weight: $font_weight_mediumbold;
		letter-spacing: 1px;
		line-height: 0;
		margin-right: $spacing_xxs;
		text-transform: uppercase;
	}
	&__extraInfo {
		color: $color_b_extramedium;
		font-size: $font_size_xxs;
		line-height: 0;
	}
	&__title {
		font-size: $font_size_l;
		font-weight: $font_weight_mediumbold;
		margin-top: $spacing_xxxs;
		width: 100%;
	}
	&--small &__title {
		font-size: $font_size_m;
		margin-top: 0;
	}
	&__submenuOpen {
		font-size: $font_size_l;
		padding: 0 $spacing_m;
		z-index: 1;
	}
	&__actions {
		bottom: 0;
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		transition: 0.5s;
		z-index: 1;
		> * {
			color: $color_background_light;
			font-size: $font_size_l;
			padding: 0 $spacing_m;
		}
		&--open {
			transform: translateX(100%);
		}
	}
	&__submenuClose {
		background-color: $color_background_light;
		color: $color_b;
	}
	&__submenuOpen {
		background-color: $color_background_light;
		color: $color_b;
	}
	&__edit {
		background-color: $color_highlight;
	}
	&__remove {
		background-color: $color_highlight_dark;
	}
}
