@import '../../styles/variables';

.itemCard {
	align-items: stretch;
	background-color: $color_background_light;
	border-radius: $radius_b;
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	margin-bottom: $spacing_xxs;
	overflow-x: hidden;
	position: relative;
	transition: $transition_duration;
	&:hover {
		box-shadow: 0 5px 7px 0 transparentize($color_b_medium, 0.3);
	}
	&__content {
		align-items: center;
		display: flex;
		padding: 1.2rem 0 1.3rem 1.8rem;
	}
	&__icon > span {
		align-items: center;
		background-color: $color_background;
		border-radius: 50%;
		color: $color_background_light;
		display: flex;
		font-size: $font_size_b;
		height: 2.5rem;
		justify-content: center;
		margin-right: $spacing_xs;
		width: 2.5rem;
	}
	&__title {
		font-size: $font_size_m;
		font-weight: $font_weight_mediumbold;
		width: 100%;
	}
	&__category {
		color: $color_highlight;
		font-size: $font_size_xxs;
		font-weight: $font_weight_mediumbold;
	}
	&__extraInfo {
		color: $color_b_extramedium;
		font-size: $font_size_xxs;
		line-height: 1.3rem;
		margin-top: 0.4rem;
	}
	&__submenuOpen {
		font-size: $font_size_l;
		padding: 0 $spacing_m;
		z-index: 1;
	}
	&__actions {
		bottom: 0;
		display: flex;
		position: absolute;
		right: 0;
		top: 0;
		transition: 0.5s;
		z-index: 1;
		> * {
			color: $color_background_light;
			font-size: $font_size_m;
			padding: 0 $spacing_b;
		}
		&--open {
			transform: translateX(100%);
		}
	}
	&__submenuClose {
		background-color: $color_background_light;
		color: $color_b;
	}
	&__submenuOpen {
		background-color: $color_background_light;
		color: $color_b;
	}
	&__edit {
		background-color: $color_highlight;
	}
	&__remove {
		background-color: $color_highlight_dark;
	}
}
