@import '../../styles/variables';

.pageTitle {
	align-items: center;
	display: flex;
	&__logo {
		background-color: $color_b;
		border-radius: 50% 50% 0 50%;
		color: $color_background;
		font-size: $font_size_b;
		margin-right: $spacing_xs;
		padding: 2px 5px;
		transform: translateY(-1px);
		svg {
			transform: rotate(-90deg);
		}
	}
	&__title {
		flex-grow: 1;
		font-size: $font_size_xl;
		font-weight: $font_weight_bold;
	}
}
