html, body {
	width: 100%;
}
html {
	background: $color_background;
	font-size: 62.5%;
	height: 100%;
}
body {
	align-items: stretch;
	color: $color_b;
	display: flex;
	flex-direction: column;
	font-family: $font_family;
	font-size: $font_size_b;
	font-weight: $font_weight_b;
	justify-content: space-between;
	line-height: $line_height_b;
	min-height: 100%;
}
#root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
main {
	flex: 1 0 auto;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 $spacing_b;
	width: $width_desktop;
	@include max_tablet {
		width: 100%;
	}
}
strong {
	font-weight: $font_weight_bold;
}
