@import '../../styles/variables';

.diaryHeader {
	align-items: center;
	background-color: $color_background;
	border-radius: 0 0 $radius_b $radius_b;
	padding: $spacing_xxs 0;
	position: sticky;
	top: 0;
	z-index: 10;
	.container {
		column-gap: $spacing_xxs;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
	}
	&__day {
		background-color: $color_background_light;
		border-radius: $radius_s;
		font-size: $font_size_xxs;
		padding: $spacing_xs $spacing_xxs;
		text-transform: uppercase;
		&--sel {
			background-color: $color_highlight;
			color: $color_background_light;
		}
	}
	&__dayNum {
		display: block;
		font-size: $font_size_xl;
	}
}