@import '../../styles/variables';

.pageHeader {
	align-items: center;
	background-color: $color_background;
	display: flex;
	justify-content: space-between;
	padding: $spacing_b $spacing_s $spacing_b;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 11;
}
