@import '../../styles/variables';

.pageHeader {
	align-items: center;
	display: flex;
	padding: $spacing_b $spacing_s $spacing_xs;
	&__logo {
		background-color: $color_highlight;
		border-radius: 50% 50% 0 50%;
		color: $color_background_light;
		font-size: $font_size_m;
		margin-right: $spacing_xxs;
		padding: 2px 4px;
		transform: translateY(-4px);
		svg {
			transform: rotate(-90deg);
		}
	}
	&__title {
		flex-grow: 1;
		font-size: $font_size_m;
		font-weight: $font_weight_bold;
		letter-spacing: 0.07rem;
		text-transform: uppercase;
	}
}
