@import '../../styles/variables';

.daysNav {
	background-color: $color_background_light;
	box-shadow: 0 3px 10px 0 transparentize($color_b_extramedium, 0.9);
	display: grid;
	grid-template-columns: 1fr repeat(7, 2fr) 1fr;
	margin: 0 -1.6rem $spacing_xs;
	&__day {
		border-radius: $radius_s;
		flex-grow: 2;
		padding: $spacing_xxs 0;
		transition: $transition_duration;
		&:hover {
			background-color: $color_highlight_light;
		}
		&--sel {
			background-color: $color_highlight;
			background: linear-gradient(
				180deg,
				rgba($color_highlight, 1) 0%,
				rgba($color_highlight, 1) 50%,
				rgba($color_highlight_extradark, 0.9) 90%,
				rgba($color_highlight_extradark, 1) 100%
			);
			border-radius: $radius_s;
			box-shadow: 0 0 8px 2px transparentize($color_b_extramedium, 0.7);
			color: $color_background_light;
			cursor: default;
		}
	}
	&__month {
		font-size: $font_size_xxs;
		text-transform: uppercase;
	}
	&__dayNum {
		display: block;
		font-size: $font_size_xl;
		font-weight: $font_weight_mediumbold;
		line-height: 0.5;
		margin-bottom: 0.2rem;
		margin-top: 0.6rem;
	}
	&__dayName {
		font-size: $font_size_xxxs;
	}
	&__next,
	&__prev {
		flex-grow: 1;
		transition: $transition_duration;
	}
	&__next {
		padding-left: $spacing_xxs;
		text-align: left;
		&:hover {
			text-align: left;
			transform: translateX(5px);
		}
	}
	&__prev {
		padding-right: $spacing_xxs;
		text-align: right;
		&:hover {
			text-align: right;
			transform: translateX(-5px);
		}
	}
}
