@import '../../styles/variables';

.daysNav {
	align-items: center;
	background-color: $color_background;
	border-radius: 0 0 $radius_b $radius_b;
	column-gap: $spacing_xxs;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	margin-bottom: $spacing_xs;
	position: sticky;
	top: 0;
	z-index: 10;
	&__day {
		background-color: $color_background_light;
		border-radius: $radius_s;
		padding: $spacing_xxs $spacing_xxs;
		transition: $transition_duration;
		&:hover {
			background-color: $color_highlight_dark;
			color: $color_background_light;
		}
		&--sel {
			background-color: $color_highlight;
			background: linear-gradient(
				180deg,
				rgba($color_highlight, 1) 0%,
				rgba($color_highlight, 1) 50%,
				rgba($color_highlight_extradark, 0.9) 90%,
				rgba($color_highlight_extradark, 1) 100%
			);
			border-radius: $radius_s $radius_s 0 $radius_s;
			box-shadow: 0 0 8px 2px transparentize($color_b_extramedium, 0.7);
			color: $color_background_light;
			cursor: default;
		}
	}
	&__month {
		font-size: $font_size_xxs;
		text-transform: uppercase;
	}
	&__dayNum {
		display: block;
		font-size: $font_size_xl;
		font-weight: $font_weight_mediumbold;
		line-height: 0.5;
		margin-top: 0.6rem;
	}
	&__dayName {
		font-size: $font_size_xxxs;
		line-height: 0;
	}
}
