@import '../../styles/variables';

.daysNav {
	align-items: center;
	background-color: $color_background;
	border-radius: 0 0 $radius_b $radius_b;
	column-gap: $spacing_xxs;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 0 0 $spacing_xs;
	position: sticky;
	top: 0;
	z-index: 10;
	&__day {
		background-color: $color_background_light;
		border-radius: $radius_s;
		font-size: $font_size_xxs;
		padding: $spacing_xs $spacing_xxs;
		text-transform: uppercase;
		transition: $transition_duration;
		&:hover {
			background-color: $color_highlight_dark;
			color: $color_background_light;
		}
		&--sel {
			background-color: $color_highlight;
			box-shadow: 0 0 8px 2px transparentize($color_b_extramedium, 0.7);
			color: $color_background_light;
		}
	}
	&__dayNum {
		display: block;
		font-size: $font_size_xl;
	}
}
