@import '../../styles/variables';

.daysNav {
	background-color: $color_background_light;
	box-shadow: 0 3px 10px 0 transparentize($color_b_extramedium, 0.9);
	display: grid;
	grid-column-gap: $spacing_xxxs;
	grid-template-columns: 2fr repeat(7, 3fr) 2fr;
	margin: 0 -1.6rem $spacing_xxxs;
	padding: $spacing_xxxs 0;
	position: fixed;
	top: 61px;
	width: 100%;
	&__day {
		border-radius: $radius_s;
		padding: $spacing_xxs 0;
		transition: $transition_duration;
		&:hover {
			background-color: $color_highlight_light;
		}
		&--sel,
		&--sel:hover {
			background-color: $color_highlight;
			border-radius: $radius_s;
			box-shadow: 0 0 8px 2px transparentize($color_b_extramedium, 0.7);
			color: $color_background_light;
			cursor: default;
		}
	}
	&__month {
		font-size: $font_size_xxxs;
		text-transform: uppercase;
	}
	&__dayNum {
		display: block;
		font-size: 2rem;
		font-weight: $font_weight_mediumbold;
		line-height: 0.5;
		margin-bottom: 0.1rem;
		margin-top: 0.5rem;
	}
	&__dayName {
		font-size: $font_size_xxxs;
	}
	&__next {
		padding-left: $spacing_xxs;
		text-align: left;
		transition: $transition_duration;
		&:hover {
			text-align: left;
			transform: translateX(3px);
		}
	}
	&__prev {
		padding-right: $spacing_xxs;
		text-align: right;
		transition: $transition_duration;
		&:hover {
			text-align: right;
			transform: translateX(-3px);
		}
	}
}
