@import '../../styles/variables';

.buttonAddItem {
	align-items: center;
	background-color: $color_highlight;
	border-radius: 50%;
	bottom: $spacing_xxs;
	box-shadow: 0 0 8px 2px transparentize($color_b_extramedium, 0.7);
	color: $color_background_light;
	display: flex;
	font-size: $font_size_m;
	justify-content: center;
	right: $spacing_xxs;
	padding: $spacing_b;
	position: fixed;
	transition: $transition_duration;
	z-index: 10;
	svg {
		transition: $transition_duration;
	}
	&:hover {
		background-color: $color_highlight_dark;
		border-radius: 50% 50% 0 50%;
		svg {
			transform: rotate(90deg);
		}
	}
}
